<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
<div class="container">
 <p><i class="fa-solid fa-user"></i> Name: <%= "#{@user.first_name} #{@user.last_name}"%></p>
 <p><i class="fa-regular fa-envelope"></i> Email: <%= @user.email %></p>
 <p><i class="fa-solid fa-location-dot"></i> Address: <%= @user.address %></p>
 <p><i class="fa-solid fa-phone"></i> Phone Number: <%= @user.phone_number %></p>
 <p><i class="fa-solid fa-location-pin-lock"></i> Profile: <%= "Public" %></p>
 <i class="fa-solid fa-pen-to-square"></i> <%= link_to 'Edit Profile', edit_profile_path %>
</div>
