<% transparent_paths = ["/", "/home_after_login"] %>
<% background =  transparent_paths.include?(request.path) ? "navbar-transparent" : "navbar-background" %>
<div class="navbar-top    <%= background %>">
  <div class="navbar navbar-expand navbar-dark navbar-style">

    <%= link_to  home_after_login_path	, class: "navbar-brand style-logo" do %>
      <%= image_tag "Rectangle 13(1).png" %>
    <% end %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav me-auto ">

        <% if user_signed_in?%>

          <input id="menu-toggle" type="checkbox" />
          <label class='menu-button-container' for="menu-toggle">
            <div class='menu-button'></div>
          </label>
          <ul class="menu-box">
            <li class="nav-item mx-2 d-lg-none ">
              <%= link_to "home", home_after_login_path, class: "nav-link nav-button-blue", data: { bs_toggle: "modal", bs_target: "#contactModal" } %>
            </li>

            <li class="nav-item mx-2 ">
              <%= link_to 'Coffee Machines', coffee_machines_path ,class: "nav-link nav-button-blue" %>
            </li>
            <li class="nav-item mx-2">
              <%= link_to "Questions and Answers", question_and_answers_path, class: "nav-link nav-button-blue" %>
            </li>
            <li class="nav-item mx-2">
              <%= link_to "Contact Manufacture", manufacture_contact_path, class: "nav-link nav-button-blue", data: { bs_toggle: "modal", bs_target: "#contactModal" } %>
            </li>
            <li class="nav-item mx-2 ">
                <a href="#" class="avatar nav-link dropdown-toggle nav-button-orange" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-action="click->dropdown#showMenu">
                  <%= tag.i ' ', class: "fa-solid fa-user", alt: "dropdown menu" %>
                </a>
                <div class="dropdown-menu drowpdown-navbar-profile dropdown-menu-end" aria-labelledby="navbarDropdown" data-dropdown-target="menu">

                  <%= link_to "My Profile", profile_path, class: "dropdown-item" %>
                  <%= link_to "My Coffee Machines", my_coffeemachine_path, class: "dropdown-item" %>
                  <div class="dropdown-divider"></div>
                  <%= link_to "Log Out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
              </li>



          </ul>

        <% else %>

          <li class="nav-item mx-2  ">
            <button type="button" class="btn  nav-link nav-button-orange" data-bs-toggle="modal" data-bs-target="#loginModal">
              Login
            </button>
          </li>
          <li class="nav-item mx-2 ">
            <button type="button" class="btn nav-link nav-button-blue" data-bs-toggle="modal" data-bs-target="#signupModal">
              Sign Up
            </button>
          </li>

        <% end %>

      </div>
    </div>
  </div>
</div>

<%= render 'shared/contact_modal' %>
<%= render "shared/login_modal" %>
<%= render "shared/signup_modal" %>
