
<div class="navbar-top ">

  <div class="navbar navbar-expand-sm navbar-dark navbar-style ">

      <%= link_to  home_after_login_path	, class: "navbar-brand style-logo " do %>
        <%= image_tag "Rectangle 13(1).png" %>
      <% end %>

      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <% if user_signed_in?%>
            <li class="nav-item  mx-2 ">
                <%= link_to 'Coffee Machines', coffee_machines_path ,class:" nav-link nav-button-blue" %>

            </li>
            <li class="nav-item mx-2">
              <%= link_to "Questions and Answers", question_and_answers_path, class: "nav-link nav-button-blue" %>
            </li>
            <li class="nav-item mx-2">

             <%= link_to "Contact Manufacture", manufacture_contact_path, class: "nav-link nav-button-orange", data: { bs_toggle: "modal", bs_target: "#contactModal" } %>
            </li>
            <li class="nav-item dropdown mx-2 ">
            <div class="nav-button-orange">
            <a href="#" class="avatar nav-link dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-action="click->dropdown#showMenu">
               <%= tag.i ' ', class: "fa-solid fa-user", alt: "dropdown menu" %>
            </a>

              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown" data-dropdown-target="menu">

                <%= link_to "My Profile", profile_path, class: "dropdown-item" %>
                <%= link_to "My Coffee Machines", my_coffeemachine_path, class: "dropdown-item" %>
                 <div class="dropdown-divider"></div>
                <%= link_to "Log Out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>

              </div>
            </li>
           <% else %>
              <button type="button" class="btn  nav-link nav-item nav-button-orange" data-bs-toggle="modal" data-bs-target="#loginModal">
                Login
              </button>
              <button type="button" class="btn nav-link nav-item nav-button-blue" data-bs-toggle="modal" data-bs-target="#signupModal">
                Sign Up
              </button>
           <% end %>
        </ul>
      </div>
    </div>
  </div>

</div>

<%= render 'shared/contact_modal' %>
<%= render "shared/login_modal" %>
<%= render "shared/signup_modal" %>
