<div class="container fluid">

  <div class="navbar navbar-expand-sm navbar-light navbar-style">
    <div class="container-fluid">
      <%= link_to  home_after_login_path	, class: "navbar-brand" do %>
        <%= image_tag "logo-transparent.png" %>
      <% end %>


      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <% if user_signed_in?%>
            <li class="nav-item active mx-2">
                <%= link_to 'Coffee Machines', coffee_machines_path ,class:" nav-link" %>

            </li>
            <li class="nav-item mx-2">
              <%= link_to "Questions and Answers", question_and_answers_path, class: "nav-link" %>
            </li>
            <li class="nav-item mx-2">
              <%= link_to "Contact Manufacture", "#", class: "nav-link" %>
            </li>
            <li class="nav-item dropdown mx-2">
            <a href="#" class="avatar nav-link dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-action="click->dropdown#showMenu">
               <%= tag.i '', class: "fa-solid fa-user", alt: "dropdown menu" %>
            </a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown" data-dropdown-target="menu">

                <%= link_to "My profile", profile_path, class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
                <div class="dropdown-divider"></div>
                <%= link_to "My Coffee Machines", my_coffeemachine_path%>

              </div>
            </li>
           <% else %>

              <%= link_to "Login", new_user_session_path, class: "btn btn-primary nav-link nav-item" %>

              <%= link_to 'Sign Up', new_user_registration_path ,class: "btn btn-primary nav-link nav-item"%>

           <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
