<div class="modal fade" id="reviewModal<%= question.id%>" tabindex="-1" aria-labelledby="reviewModalLabel" aria-hidden="true">

  <div class="modal-dialog ">
    <div class="modal-size">


      <div class="">
        <div class="modal-content p-5">
          <% question.reviews.each do |review| %>
          <p class="" style="font-size:24px;"><b><%= review.user.first_name %></b> : <%= review.content %></p>
          <% end %>
          <div class=" add-review-modal-QandA">
            <%= simple_form_for [question, Review.new] do |f| %>
              <div class="d-flex ">
                <%= f.input :content,  input_html: { class: "form-control mr-2", style: "height: 20px; width: 500px;" } %>
                <%= f.submit "Add a review" , class: "btn btn-primary ms-auto" %></div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

  </div>
</div>
