<div class="my-coffeemachine" style="margin-top:10%" data-controller="toggle">
<h1 class="mx-5 ">My Coffee Machines:</h1>

<div class="container mt-4">
  <button class="btn btn-primary" data-action="click->toggle#change">Add coffee machine</button>
</div>
<div style="margin:10%" class="d-none" data-toggle-target="form">
  <h4>You can add a coffee machine to your list by entering the code found on the back cover of your machine</h4>

  <%= simple_form_for @coffee_machine do |f| %>
    <%= f.input :serial_number %>
    <%= f.association :manager %>
    <%= f.association :coffee_machine, label_method: lambda { |coffee_machine| "#{coffee_machine.coffee_machine_model.name}" } %>
    <%= f.submit "Add a new coffee machine"%>
  <% end %>
</div>

<div class="container mt-5">
  <% @user_coffeemachines.in_groups_of(3, false) do |group| %>
    <div class="row">
      <% group.compact.each do |coffee_machine| %>
        <div class="col-md-4 mb-4">
          <div class="card">

            <% if coffee_machine.photo.attached? %>
                <%= cl_image_tag coffee_machine.photo.key, class: "card-img-top", crop: :fill %>
              <% end %>
                          <div class="card-body">
              <h5 class="card-title"><%= coffee_machine.machine_type %></h5>
              <p class="card-text">Description: <%= coffee_machine.description %></p>
              <!-- Add other details if needed -->
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

</div>
